In [13]:
import codecs
import csv
import time
import os
import re
import gzip
import pandas as pd
import numpy as np

In [14]:
PATH_TO_DATA = 'Data/'
PATH_TO_DATA_EN = PATH_TO_DATA+"enwiki/"
PATH_TO_DATA_UK = PATH_TO_DATA+"ukwiki/"

In [15]:
ENWIKI_ALI_FNMS = []
for file in os.listdir(PATH_TO_DATA_EN):
    if re.match(r"enwiki-20180620-pages-meta-current\d{2}-p\d+p\d+.xml_red.csv.gz", file):
        ENWIKI_ALI_FNMS.append(file)  
UKWIKI_ALI_FNMS = []
for file in os.listdir(PATH_TO_DATA_UK):
    if re.match(r"ukwiki-20180620-pages-meta-current\d{2}-p\d+p\d+.xml_red.csv.gz", file):
        UKWIKI_ALI_FNMS.append(file)  
        
UK_ID_NAME = "ukwiki-20180620-id_name.csv"
EN_ID_NAME = "enwiki-20180620-id_name.csv"

In [16]:
def unpack(file_name):
    file_name_new = file_name.replace(".gz","")
    with gzip.open(file_name, 'rb') as f_in, open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    return file_name_new

In [17]:
def pack_and_remove(file_name):
    file_name_new = file_name+'.gz'
    with open(file_name, 'rb') as f_in, gzip.open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    os.remove(file_name)
    return file_name_new

In [18]:
df_en_id_name = pd.read_csv(PATH_TO_DATA_EN+EN_ID_NAME, encoding='ISO-8859-1', 
                         quotechar="'", escapechar ="\\")
df_en_id_name.head()

    id      title
0   12  Anarchism
1   25     Autism
2   39     Albedo
3  290          A
4  303    Alabama

In [21]:
df_id_alias_title_alias = None
df_id_alias_id_orig = None
df_id_orig_title_alias = None
for fn in ENWIKI_ALI_FNMS:
    fn = PATH_TO_DATA_EN+fn
    print(fn)
    fn_new = unpack(fn)
    df_aliases = pd.read_csv(fn_new, encoding='ISO-8859-1', quotechar="\"")
    df_aliases = pd.merge(df_aliases, df_en_id_name, how='left', left_on=['redirect'], right_on=['title'])    
    df_aliases = df_aliases[['id_x', 'id_y', 'title_x', 'redirect']]
    df_aliases.columns = ['id_alias', 'id_orig', 'title_alias', 'title_orig']    
    
    df_id_alias_title_alias_tmp = df_aliases[['id_alias', 'title_alias']]
    if df_id_alias_title_alias is not None:
        df_id_alias_title_alias = df_id_alias_title_alias.append(df_id_alias_title_alias_tmp)        
    else:
        df_id_alias_title_alias = df_id_alias_title_alias_tmp
    print("df_id_alias_title_alias size: {}".format(df_id_alias_title_alias.shape))
    
    df_id_alias_id_orig_tmp = df_aliases[['id_alias', 'id_orig']]
    if df_id_alias_id_orig is not None:
        df_id_alias_id_orig = df_id_alias_id_orig.append(df_id_alias_id_orig_tmp)        
    else:
        df_id_alias_id_orig = df_id_alias_id_orig_tmp
    print("df_id_alias_id_orig size: {}".format(df_id_alias_id_orig.shape))
    
    df_id_orig_title_alias_tmp = df_aliases[['id_orig', 'title_alias']]
    if df_id_orig_title_alias is not None:
        df_id_orig_title_alias = df_id_orig_title_alias.append(df_id_orig_title_alias_tmp)        
    else:
        df_id_orig_title_alias = df_id_orig_title_alias_tmp
    print("df_id_orig_title_alias size: {}".format(df_id_orig_title_alias.shape))
    os.remove(fn_new)

Data/enwiki/enwiki-20180620-pages-meta-current01-p10p30303.xml_red.csv.gz
df_id_alias_title_alias size: (4675, 2)
df_id_alias_id_orig size: (4675, 2)
df_id_orig_title_alias size: (4675, 2)
Data/enwiki/enwiki-20180620-pages-meta-current02-p30304p88444.xml_red.csv.gz
df_id_alias_title_alias size: (16382, 2)
df_id_alias_id_orig size: (16382, 2)
df_id_orig_title_alias size: (16382, 2)
Data/enwiki/enwiki-20180620-pages-meta-current03-p88445p200507.xml_red.csv.gz
df_id_alias_title_alias size: (32776, 2)
df_id_alias_id_orig size: (32776, 2)
df_id_orig_title_alias size: (32776, 2)
Data/enwiki/enwiki-20180620-pages-meta-current04-p200511p352689.xml_red.csv.gz
df_id_alias_title_alias size: (67119, 2)
df_id_alias_id_orig size: (67119, 2)
df_id_orig_title_alias size: (67119, 2)
Data/enwiki/enwiki-20180620-pages-meta-current05-p352690p565313.xml_red.csv.gz
df_id_alias_title_alias size: (121575, 2)
df_id_alias_id_orig size: (121575, 2)
df_id_orig_title_alias size: (121575, 2)
Data/enwiki/enwiki-20180620-pages-meta-current06-p565314p892912.xml_red.csv.gz
df_id_alias_title_alias size: (220427, 2)
df_id_alias_id_orig size: (220427, 2)
df_id_orig_title_alias size: (220427, 2)
Data/enwiki/enwiki-20180620-pages-meta-current07-p892914p1268691.xml_red.csv.gz
df_id_alias_title_alias size: (297702, 2)
df_id_alias_id_orig size: (297702, 2)
df_id_orig_title_alias size: (297702, 2)
Data/enwiki/enwiki-20180620-pages-meta-current08-p1268692p1791079.xml_red.csv.gz
df_id_alias_title_alias size: (410563, 2)
df_id_alias_id_orig size: (410563, 2)
df_id_orig_title_alias size: (410563, 2)
Data/enwiki/enwiki-20180620-pages-meta-current09-p1791080p2336422.xml_red.csv.gz
df_id_alias_title_alias size: (531048, 2)
df_id_alias_id_orig size: (531048, 2)
df_id_orig_title_alias size: (531048, 2)
Data/enwiki/enwiki-20180620-pages-meta-current10-p2336425p3046511.xml_red.csv.gz
df_id_alias_title_alias size: (658472, 2)
df_id_alias_id_orig size: (658472, 2)
df_id_orig_title_alias size: (658472, 2)
Data/enwiki/enwiki-20180620-pages-meta-current11-p3046514p3926861.xml_red.csv.gz
df_id_alias_title_alias size: (807130, 2)
df_id_alias_id_orig size: (807130, 2)
df_id_orig_title_alias size: (807130, 2)
Data/enwiki/enwiki-20180620-pages-meta-current12-p3926863p5040436.xml_red.csv.gz
df_id_alias_title_alias size: (979068, 2)
df_id_alias_id_orig size: (979068, 2)
df_id_orig_title_alias size: (979068, 2)
Data/enwiki/enwiki-20180620-pages-meta-current13-p5040438p6197594.xml_red.csv.gz
df_id_alias_title_alias size: (1162268, 2)
df_id_alias_id_orig size: (1162268, 2)
df_id_orig_title_alias size: (1162268, 2)
Data/enwiki/enwiki-20180620-pages-meta-current14-p6197598p7697598.xml_red.csv.gz
df_id_alias_title_alias size: (1357512, 2)
df_id_alias_id_orig size: (1357512, 2)
df_id_orig_title_alias size: (1357512, 2)
Data/enwiki/enwiki-20180620-pages-meta-current14-p7697598p7744799.xml_red.csv.gz
df_id_alias_title_alias size: (1363069, 2)
df_id_alias_id_orig size: (1363069, 2)
df_id_orig_title_alias size: (1363069, 2)
Data/enwiki/enwiki-20180620-pages-meta-current15-p7744803p9244803.xml_red.csv.gz
df_id_alias_title_alias size: (1558505, 2)
df_id_alias_id_orig size: (1558505, 2)
df_id_orig_title_alias size: (1558505, 2)
Data/enwiki/enwiki-20180620-pages-meta-current15-p9244803p9518048.xml_red.csv.gz
df_id_alias_title_alias size: (1591770, 2)
df_id_alias_id_orig size: (1591770, 2)
df_id_orig_title_alias size: (1591770, 2)
Data/enwiki/enwiki-20180620-pages-meta-current16-p11018050p11539266.xml_red.csv.gz
df_id_alias_title_alias size: (1653139, 2)
df_id_alias_id_orig size: (1653139, 2)
df_id_orig_title_alias size: (1653139, 2)
Data/enwiki/enwiki-20180620-pages-meta-current16-p9518050p11018050.xml_red.csv.gz
df_id_alias_title_alias size: (1808604, 2)
df_id_alias_id_orig size: (1808604, 2)
df_id_orig_title_alias size: (1808604, 2)
Data/enwiki/enwiki-20180620-pages-meta-current17-p11539268p13039268.xml_red.csv.gz
df_id_alias_title_alias size: (2022811, 2)
df_id_alias_id_orig size: (2022811, 2)
df_id_orig_title_alias size: (2022811, 2)
Data/enwiki/enwiki-20180620-pages-meta-current17-p13039268p13693071.xml_red.csv.gz
df_id_alias_title_alias size: (2112630, 2)
df_id_alias_id_orig size: (2112630, 2)
df_id_orig_title_alias size: (2112630, 2)
Data/enwiki/enwiki-20180620-pages-meta-current18-p13693074p15193074.xml_red.csv.gz
df_id_alias_title_alias size: (2342540, 2)
df_id_alias_id_orig size: (2342540, 2)
df_id_orig_title_alias size: (2342540, 2)
Data/enwiki/enwiki-20180620-pages-meta-current18-p15193074p16120542.xml_red.csv.gz
df_id_alias_title_alias size: (2450935, 2)
df_id_alias_id_orig size: (2450935, 2)
df_id_orig_title_alias size: (2450935, 2)
Data/enwiki/enwiki-20180620-pages-meta-current19-p16120543p17620543.xml_red.csv.gz
df_id_alias_title_alias size: (2731204, 2)
df_id_alias_id_orig size: (2731204, 2)
df_id_orig_title_alias size: (2731204, 2)
Data/enwiki/enwiki-20180620-pages-meta-current19-p17620543p18754735.xml_red.csv.gz
df_id_alias_title_alias size: (2871029, 2)
df_id_alias_id_orig size: (2871029, 2)
df_id_orig_title_alias size: (2871029, 2)
Data/enwiki/enwiki-20180620-pages-meta-current20-p18754736p20254736.xml_red.csv.gz
df_id_alias_title_alias size: (3085668, 2)
df_id_alias_id_orig size: (3085668, 2)
df_id_orig_title_alias size: (3085668, 2)
Data/enwiki/enwiki-20180620-pages-meta-current20-p20254736p21222156.xml_red.csv.gz
df_id_alias_title_alias size: (3194662, 2)
df_id_alias_id_orig size: (3194662, 2)
df_id_orig_title_alias size: (3194662, 2)
Data/enwiki/enwiki-20180620-pages-meta-current21-p21222158p22722158.xml_red.csv.gz
df_id_alias_title_alias size: (3397873, 2)
df_id_alias_id_orig size: (3397873, 2)
df_id_orig_title_alias size: (3397873, 2)
Data/enwiki/enwiki-20180620-pages-meta-current21-p22722158p23927983.xml_red.csv.gz
df_id_alias_title_alias size: (3602666, 2)
df_id_alias_id_orig size: (3602666, 2)
df_id_orig_title_alias size: (3602666, 2)
Data/enwiki/enwiki-20180620-pages-meta-current22-p23927984p25427984.xml_red.csv.gz
df_id_alias_title_alias size: (3799098, 2)
df_id_alias_id_orig size: (3799098, 2)
df_id_orig_title_alias size: (3799098, 2)
Data/enwiki/enwiki-20180620-pages-meta-current22-p25427984p26823660.xml_red.csv.gz
df_id_alias_title_alias size: (3980375, 2)
df_id_alias_id_orig size: (3980375, 2)
df_id_orig_title_alias size: (3980375, 2)
Data/enwiki/enwiki-20180620-pages-meta-current23-p26823661p28323661.xml_red.csv.gz
df_id_alias_title_alias size: (4202254, 2)
df_id_alias_id_orig size: (4202254, 2)
df_id_orig_title_alias size: (4202254, 2)
Data/enwiki/enwiki-20180620-pages-meta-current23-p28323661p29823661.xml_red.csv.gz
df_id_alias_title_alias size: (4457948, 2)
df_id_alias_id_orig size: (4457948, 2)
df_id_orig_title_alias size: (4457948, 2)
Data/enwiki/enwiki-20180620-pages-meta-current23-p29823661p30503449.xml_red.csv.gz
df_id_alias_title_alias size: (4578437, 2)
df_id_alias_id_orig size: (4578437, 2)
df_id_orig_title_alias size: (4578437, 2)
Data/enwiki/enwiki-20180620-pages-meta-current24-p30503451p32003451.xml_red.csv.gz
df_id_alias_title_alias size: (4781995, 2)
df_id_alias_id_orig size: (4781995, 2)
df_id_orig_title_alias size: (4781995, 2)
Data/enwiki/enwiki-20180620-pages-meta-current24-p32003451p33503451.xml_red.csv.gz
df_id_alias_title_alias size: (4981258, 2)
df_id_alias_id_orig size: (4981258, 2)
df_id_orig_title_alias size: (4981258, 2)
Data/enwiki/enwiki-20180620-pages-meta-current24-p33503451p33952815.xml_red.csv.gz
df_id_alias_title_alias size: (5037266, 2)
df_id_alias_id_orig size: (5037266, 2)
df_id_orig_title_alias size: (5037266, 2)
Data/enwiki/enwiki-20180620-pages-meta-current25-p33952816p35452816.xml_red.csv.gz
df_id_alias_title_alias size: (5240190, 2)
df_id_alias_id_orig size: (5240190, 2)
df_id_orig_title_alias size: (5240190, 2)
Data/enwiki/enwiki-20180620-pages-meta-current25-p35452816p36952816.xml_red.csv.gz
df_id_alias_title_alias size: (5453726, 2)
df_id_alias_id_orig size: (5453726, 2)
df_id_orig_title_alias size: (5453726, 2)
Data/enwiki/enwiki-20180620-pages-meta-current25-p36952816p38067202.xml_red.csv.gz
df_id_alias_title_alias size: (5613952, 2)
df_id_alias_id_orig size: (5613952, 2)
df_id_orig_title_alias size: (5613952, 2)
Data/enwiki/enwiki-20180620-pages-meta-current26-p38067203p39567203.xml_red.csv.gz

df_id_alias_title_alias size: (5845704, 2)
df_id_alias_id_orig size: (5845704, 2)
df_id_orig_title_alias size: (5845704, 2)
Data/enwiki/enwiki-20180620-pages-meta-current26-p39567203p41067203.xml_red.csv.gz
df_id_alias_title_alias size: (6043096, 2)
df_id_alias_id_orig size: (6043096, 2)
df_id_orig_title_alias size: (6043096, 2)
Data/enwiki/enwiki-20180620-pages-meta-current26-p41067203p42567203.xml_red.csv.gz
df_id_alias_title_alias size: (6241760, 2)
df_id_alias_id_orig size: (6241760, 2)
df_id_orig_title_alias size: (6241760, 2)
Data/enwiki/enwiki-20180620-pages-meta-current26-p42567203p42663461.xml_red.csv.gz
df_id_alias_title_alias size: (6254473, 2)
df_id_alias_id_orig size: (6254473, 2)
df_id_orig_title_alias size: (6254473, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p42663462p44163462.xml_red.csv.gz
df_id_alias_title_alias size: (6490208, 2)
df_id_alias_id_orig size: (6490208, 2)
df_id_orig_title_alias size: (6490208, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p44163462p45663462.xml_red.csv.gz
df_id_alias_title_alias size: (6651982, 2)
df_id_alias_id_orig size: (6651982, 2)
df_id_orig_title_alias size: (6651982, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p45663462p47163462.xml_red.csv.gz
df_id_alias_title_alias size: (6797347, 2)
df_id_alias_id_orig size: (6797347, 2)
df_id_orig_title_alias size: (6797347, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p47163462p48663462.xml_red.csv.gz
df_id_alias_title_alias size: (6979558, 2)
df_id_alias_id_orig size: (6979558, 2)
df_id_orig_title_alias size: (6979558, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p48663462p50163462.xml_red.csv.gz
df_id_alias_title_alias size: (7239259, 2)
df_id_alias_id_orig size: (7239259, 2)
df_id_orig_title_alias size: (7239259, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p50163462p51663462.xml_red.csv.gz
df_id_alias_title_alias size: (7459167, 2)
df_id_alias_id_orig size: (7459167, 2)
df_id_orig_title_alias size: (7459167, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p51663462p53163462.xml_red.csv.gz
df_id_alias_title_alias size: (7640010, 2)
df_id_alias_id_orig size: (7640010, 2)
df_id_orig_title_alias size: (7640010, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p53163462p54663462.xml_red.csv.gz
df_id_alias_title_alias size: (7849969, 2)
df_id_alias_id_orig size: (7849969, 2)
df_id_orig_title_alias size: (7849969, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p54663462p56163462.xml_red.csv.gz
df_id_alias_title_alias size: (8100407, 2)
df_id_alias_id_orig size: (8100407, 2)
df_id_orig_title_alias size: (8100407, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p56163462p57663462.xml_red.csv.gz
df_id_alias_title_alias size: (8302586, 2)
df_id_alias_id_orig size: (8302586, 2)
df_id_orig_title_alias size: (8302586, 2)
Data/enwiki/enwiki-20180620-pages-meta-current27-p57663462p57726175.xml_red.csv.gz
df_id_alias_title_alias size: (8312092, 2)
df_id_alias_id_orig size: (8312092, 2)
df_id_orig_title_alias size: (8312092, 2)

In [22]:
df_id_alias_title_alias.head()

   id_alias                title_alias
0        10        AccessibleComputing
1        13         AfghanistanHistory
2        14       AfghanistanGeography
3        15          AfghanistanPeople
4        18  AfghanistanCommunications

In [23]:
df_id_alias_title_alias.to_csv(PATH_TO_DATA_EN+'enwiki-20180620-id_alias_title_alias.csv', index = False, encoding='ISO-8859-1', quotechar="'")

In [32]:
df_id_alias_id_orig[['id_orig']] = df_id_alias_id_orig[['id_orig']].fillna(-1).astype(int)

In [33]:
df_id_alias_id_orig.head()

   id_alias  id_orig
0        10   411964
1        13    13813
2        14    12681
3        15    66468
4        18     6684

In [34]:
df_id_alias_id_orig.to_csv(PATH_TO_DATA_EN+'enwiki-20180620-id_alias_id_orig.csv', index = False, encoding='ISO-8859-1', quotechar="'")

In [35]:
df_id_orig_title_alias[['id_orig']] = df_id_orig_title_alias[['id_orig']].fillna(-1).astype(int)

In [36]:
df_id_orig_title_alias.shape

(8312090, 2)

In [37]:
df_id_orig_title_alias = df_id_orig_title_alias.drop_duplicates()

In [41]:
df_id_orig_title_alias.shape

(8312090, 2)

In [42]:
df_id_orig_title_alias.head()

   id_orig                title_alias
0   411964        AccessibleComputing
1    13813         AfghanistanHistory
2    12681       AfghanistanGeography
3    66468          AfghanistanPeople
4     6684  AfghanistanCommunications

In [43]:
df_id_orig_title_alias.to_csv(PATH_TO_DATA_EN+'enwiki-20180620-id_orig_title_alias.csv', index = False, encoding='ISO-8859-1', quotechar="'")

In [44]:
df_uk_id_name = pd.read_csv(PATH_TO_DATA_UK+UK_ID_NAME, encoding='UTF-8', quotechar="\"")
df_uk_id_name.head()

    id             title
0    3  Головна сторінка
1   13         Географія
2  584              Атом
3  585           Мільярд
4  586              Ядро

In [45]:
df_id_alias_title_alias = None
df_id_alias_id_orig = None
df_id_orig_title_alias = None
for fn in UKWIKI_ALI_FNMS:
    fn = PATH_TO_DATA_UK+fn
    print(fn)
    fn_new = unpack(fn)
    df_aliases = pd.read_csv(fn_new, encoding='UTF-8', quotechar="\"")
    df_aliases = pd.merge(df_aliases, df_uk_id_name, how='left', left_on=['redirect'], right_on=['title'])    
    df_aliases = df_aliases[['id_x', 'id_y', 'title_x', 'redirect']]
    df_aliases.columns = ['id_alias', 'id_orig', 'title_alias', 'title_orig']    
    
    df_id_alias_title_alias_tmp = df_aliases[['id_alias', 'title_alias']]
    if df_id_alias_title_alias is not None:
        df_id_alias_title_alias = df_id_alias_title_alias.append(df_id_alias_title_alias_tmp)        
    else:
        df_id_alias_title_alias = df_id_alias_title_alias_tmp
    print("df_id_alias_title_alias size: {}".format(df_id_alias_title_alias.shape))
    
    df_id_alias_id_orig_tmp = df_aliases[['id_alias', 'id_orig']]
    if df_id_alias_id_orig is not None:
        df_id_alias_id_orig = df_id_alias_id_orig.append(df_id_alias_id_orig_tmp)        
    else:
        df_id_alias_id_orig = df_id_alias_id_orig_tmp
    print("df_id_alias_id_orig size: {}".format(df_id_alias_id_orig.shape))
    
    df_id_orig_title_alias_tmp = df_aliases[['id_orig', 'title_alias']]
    if df_id_orig_title_alias is not None:
        df_id_orig_title_alias = df_id_orig_title_alias.append(df_id_orig_title_alias_tmp)        
    else:
        df_id_orig_title_alias = df_id_orig_title_alias_tmp
    print("df_id_orig_title_alias size: {}".format(df_id_orig_title_alias.shape))
    os.remove(fn_new)

Data/ukwiki/ukwiki-20180620-pages-meta-current01-p1p110726.xml_red.csv.gz
df_id_alias_title_alias size: (110724, 2)
df_id_alias_id_orig size: (110724, 2)
df_id_orig_title_alias size: (110724, 2)
Data/ukwiki/ukwiki-20180620-pages-meta-current02-p110727p221452.xml_red.csv.gz
df_id_alias_title_alias size: (221448, 2)
df_id_alias_id_orig size: (221448, 2)
df_id_orig_title_alias size: (221448, 2)
Data/ukwiki/ukwiki-20180620-pages-meta-current03-p221453p332177.xml_red.csv.gz
df_id_alias_title_alias size: (332172, 2)
df_id_alias_id_orig size: (332172, 2)
df_id_orig_title_alias size: (332172, 2)
Data/ukwiki/ukwiki-20180620-pages-meta-current04-p332178p442902.xml_red.csv.gz
df_id_alias_title_alias size: (442895, 2)
df_id_alias_id_orig size: (442895, 2)
df_id_orig_title_alias size: (442895, 2)

In [46]:
df_id_alias_title_alias.head()

   id_alias           title_alias
0         2             Esperanto
1         6             Wikipedia
2         9              HomePage
3       647     Капустянко Микола
4       693  Володимир Винниченко

In [47]:
df_id_alias_title_alias.to_csv(PATH_TO_DATA_UK+'ukwiki-20180620-id_alias_title_alias.csv', index = False, encoding='UTF-8', quotechar="\"")

In [48]:
df_id_alias_id_orig[['id_orig']] = df_id_alias_id_orig[['id_orig']].fillna(-1).astype(int)

In [50]:
df_id_alias_id_orig.head()

   id_alias  id_orig
0         2      610
1         6     9701
2         9        3
3       647    61817
4       693     6083

In [51]:
df_id_alias_id_orig.to_csv(PATH_TO_DATA_UK+'ukwiki-20180620-id_alias_id_orig.csv', index = False, encoding='UTF-8', quotechar="\"")

In [52]:
df_id_orig_title_alias[['id_orig']] = df_id_orig_title_alias[['id_orig']].fillna(-1).astype(int)

In [53]:
df_id_orig_title_alias.shape

(442895, 2)

In [54]:
df_id_orig_title_alias = df_id_orig_title_alias.drop_duplicates()
df_id_orig_title_alias.shape

(442895, 2)

In [55]:
df_id_orig_title_alias.head()

   id_orig           title_alias
0      610             Esperanto
1     9701             Wikipedia
2        3              HomePage
3    61817     Капустянко Микола
4     6083  Володимир Винниченко

In [56]:
df_id_orig_title_alias.to_csv(PATH_TO_DATA_UK+'ukwiki-20180620-id_orig_title_alias.csv', index = False, encoding='UTF-8', quotechar="\"")