In [1]:
import codecs
import csv
import time
import os
import re
import gzip
import pandas as pd
import numpy as np

In [2]:
PATH_TO_DATA = 'Data/'
PATH_TO_DATA_UK = PATH_TO_DATA+"ukwiki/"

In [3]:
UKWIKI_ART_FNMS = []
for file in os.listdir(PATH_TO_DATA_UK):
    if re.match(r"ukwiki-20180620-pages-meta-current\d{2}-p\d+p\d+.xml_art.csv.gz", file):
        UKWIKI_ART_FNMS.append(file)

In [4]:
def unpack(file_name):
    file_name_new = file_name.replace(".gz","")
    with gzip.open(file_name, 'rb') as f_in, open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    return file_name_new

In [5]:
def pack_and_remove(file_name):
    file_name_new = file_name+'.gz'
    with open(file_name, 'rb') as f_in, gzip.open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    os.remove(file_name)
    return file_name_new

In [7]:
df_title_count = None
for fn in UKWIKI_ART_FNMS:
    fn = PATH_TO_DATA_UK+fn
    print(fn)
    fn_new = unpack(fn)
    df_articles = pd.read_csv(fn_new, encoding='UTF-8', quotechar="\"")

    df_red_links = df_articles[df_articles['is_red_link'] == True]
    df_title_count_tmp = pd.DataFrame(df_red_links.groupby('link_val').link_val.count())
    df_title_count_tmp.columns = ['link']
    df_title_count_tmp = df_title_count_tmp.reset_index(col_level=1)
    df_title_count_tmp.columns = ['link_title', 'in_count']
    
    if df_title_count is not None:
        df_title_count = df_title_count.append(df_title_count_tmp)        
        #print("append")
    else:
        df_title_count = df_title_count_tmp
        #print("assign")    
    df_title_count = df_title_count.groupby('link_title').in_count.sum().copy()
    df_title_count.columns = ['link']
    df_title_count = df_title_count.reset_index()
    df_title_count.columns = ['link_title', 'in_count']        
    print("df_title_count size: {}".format(df_title_count.shape))
    os.remove(fn_new)

Data/ukwiki/ukwiki-20180620-pages-meta-current01-p1p5501930.xml_art.csv.gz
df_title_count size: (379032, 2)
Data/ukwiki/ukwiki-20180620-pages-meta-current02-p5501931p11003859.xml_art.csv.gz
df_title_count size: (779143, 2)
Data/ukwiki/ukwiki-20180620-pages-meta-current03-p11003860p16505788.xml_art.csv.gz
df_title_count size: (1317443, 2)
Data/ukwiki/ukwiki-20180620-pages-meta-current04-p16505789p22007717.xml_art.csv.gz
df_title_count size: (1555070, 2)

In [8]:
df_title_count = df_title_count.sort_values(['in_count'], ascending=[0])

In [9]:
df_title_count.to_csv(PATH_TO_DATA_UK+'ukwiki-20180620-red_name_count.csv', index = False, encoding='UTF-8', quotechar="\"")

In [10]:
df_title_count

                                                link_title  in_count
58                                              (сузір'я)|      8682
57                                               (сузір'я)      7034
1235164                                             Сеніор      1660
1455071                                       ацетилювання      1619
1136068                                Подравський регіон‎      1298
1459525                                     білок розвитку       942
1164878                          Південно-Східна Словенія‎       852
1459523              білок внутрішньоклітинного сигналінгу       821
1081096                             Обсерваторія Галеакала       786
683826                                         Генрі Гольт       734
612984                                     Велика_Британія       731
890633                                     Корадо Корлевіч       723
1387129                           Центр учбової літератури       721
1264323                                     Станція Сінлун       719
914525                              Кубок світу з боротьби       718
1201732                        Руденко Ірина Станіславівна       543
603605                       Вакуленко Олена Володимирівна       542
1174057                       Радченко Вероніка Вікторівна       542
1246090                        Скуратович Олег Ярославович       537
1227386                                 Світ (видавництво)       521
1394152                              Чанцева Ніна Іванівна       494
773465                             Дубович Іван Андрійович       487
310111                                                ODAS       462
1081205                             Обсерваторія Ондржейов       455
666108                                     Віржіні Раззано       450
999576                                       Меган Шонессі       431
670063                                    Габрово (община)       415
390632                                               Soest       415
943678                       Лиховцева Олена Олександрівна       415
1193636                       Родіонова Анастасія Іванівна       414
...                                                    ...       ...
572203                     Благовіщенська вулиця (Путивль)         1
572202         Благовіщенська вулиця (Новгород-Сіверський)         1
572201                   Благовіщенська вулиця (Миронівка)         1
572200                     Благовіщенська вулиця (Люботин)         1
572199                  Благовіщенська вулиця (Красноград)         1
572197                Благовіщенська вулиця (Голованівськ)         1
572196                       Благовіщенська вулиця (Валки)         1
572195                   Благовіщенська вулиця (Богодухів)         1
572194                  Благовіщенська вулиця (Андрушівка)         1
572212        Благовіщенське вище танкове командне училище         1
572213   Благовіщенське вище танкове командне училище Ч...         1
572215                    Благовіщенський Іван Олексійович         1
572225                  Благовіщенський провулок (Люботин)         1
572234           Благовіщенський собор Казанського кремля          1
572233            Благовіщенський собор Казанського кремля         1
572231          Благовіщенський собор (Московський кремль)         1
572230           Благовіщенський собор (Московський кремль         1
572229          Благовіщенський собор (Московський Кремль)         1
572227                     Благовіщенський собор (Воронеж)         1
572226                      Благовіщенський ринок (Харків)         1
572224                                 Благовіщенський мис         1
572216             Благовіщенський Олександр Олександрович         1
572223                              Благовіщенський майдан         1
572222                  Благовіщенський кафедральний собор         1
572221        Благовіщенський кафедральний  собор (Харків)         1
572220          Благовіщенський жіночий монастир (Сарапул)         1
572219   Благовіщенський державний педагогічний універс...         1
572218                     Благовіщенський агропедінститут         1
572217                  Благовіщенський Олексій Сергійович         1
1555069                                                  ﾟ         1

[1555070 rows x 2 columns]

In [11]:
df_title_count.describe()

           in_count
count  1.555070e+06
mean   1.826706e+00
std    1.068667e+01
min    1.000000e+00
25%    1.000000e+00
50%    1.000000e+00
75%    1.000000e+00
max    8.682000e+03

In [12]:
df_count_by_count = pd.DataFrame(df_title_count.groupby('in_count').in_count.count())

In [13]:
df_count_by_count.columns = ['link']
df_count_by_count = df_count_by_count.reset_index()
df_count_by_count.columns = ['count', 'in_count']

In [14]:
df_count_by_count = df_count_by_count.sort_values(['count'], ascending=[1])

In [15]:
df_count_by_count.head()

   count  in_count
0      1   1178130
1      2    204051
2      3     68591
3      4     33253
4      5     18489

In [16]:
df_count_by_count.describe()

             count      in_count
count   319.000000  3.190000e+02
mean    248.833856  4.874828e+03
std     641.870052  6.702271e+04
min       1.000000  1.000000e+00
25%      80.500000  1.000000e+00
50%     160.000000  4.000000e+00
75%     249.500000  2.200000e+01
max    8682.000000  1.178130e+06

In [17]:
df_count_by_count.to_csv(PATH_TO_DATA_UK+'ukwiki-20180620-red_count_by_count.csv', index = False, encoding='UTF-8', quotechar="\"")