In [2]:
import codecs
import csv
import time
import os
import re
import gzip
import pandas as pd
import numpy as np

In [3]:
PATH_TO_DATA = 'Data/'
PATH_TO_DATA_EN = PATH_TO_DATA+"enwiki/"
PATH_TO_DATA_UK = PATH_TO_DATA+"ukwiki/"

In [4]:
ENWIKI_ART_FNMS = []
for file in os.listdir(PATH_TO_DATA_EN):
    if re.match(r"enwiki-20180620-pages-meta-current\d{2}-p\d+p\d+.xml_art.csv.gz", file):
        ENWIKI_ART_FNMS.append(file)
        
UKWIKI_ART_FNMS = []
for file in os.listdir(PATH_TO_DATA_UK):
    if re.match(r"ukwiki-20180620-pages-meta-current\d{2}-p\d+p\d+.xml_art.csv.gz", file):
        UKWIKI_ART_FNMS.append(file)        

UK_ID_NAME = "ukwiki-20180620-id_name.csv.gz"
EN_ID_NAME = "enwiki-20180620-id_name.csv.gz"
EN_RED_NAME_COUNT = "enwiki-20180620-red_name_count.csv.gz"
EN_RED_COUNT_COUNT = "enwiki-20180620-red_count_by_count.csv.gz"

In [5]:
def unpack(file_name):
    file_name_new = file_name.replace(".gz","")
    with gzip.open(file_name, 'rb') as f_in, open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    return file_name_new

In [6]:
def pack_and_remove(file_name):
    file_name_new = file_name+'.gz'
    with open(file_name, 'rb') as f_in, gzip.open(file_name_new, 'wb') as f_out:
        f_out.writelines(f_in)
    os.remove(file_name)
    return file_name_new

In [9]:
for fn in ENWIKI_ART_FNMS:
    fn = PATH_TO_DATA_EN+fn
    print(fn)
    fn_new = unpack(fn)
    df_articles = pd.read_csv(fn_new, encoding='ISO-8859-1',quotechar="'")
    print("df_articles size: {}".format(df_articles.shape))
    os.remove(fn_new)

Data/enwiki/enwiki-20180620-pages-meta-current01-p10p30303.xml_art.csv.gz
df_articles size: (2136629, 6)
Data/enwiki/enwiki-20180620-pages-meta-current02-p30304p88444.xml_art.csv.gz
df_articles size: (2933905, 6)
Data/enwiki/enwiki-20180620-pages-meta-current03-p88445p200507.xml_art.csv.gz
df_articles size: (4584144, 6)
Data/enwiki/enwiki-20180620-pages-meta-current04-p200511p352689.xml_art.csv.gz
df_articles size: (3731444, 6)
Data/enwiki/enwiki-20180620-pages-meta-current05-p352690p565313.xml_art.csv.gz
df_articles size: (4216059, 6)
Data/enwiki/enwiki-20180620-pages-meta-current06-p565314p892912.xml_art.csv.gz
df_articles size: (4588485, 6)
Data/enwiki/enwiki-20180620-pages-meta-current07-p892914p1268691.xml_art.csv.gz
df_articles size: (4693477, 6)
Data/enwiki/enwiki-20180620-pages-meta-current08-p1268692p1791079.xml_art.csv.gz
df_articles size: (4874618, 6)
Data/enwiki/enwiki-20180620-pages-meta-current09-p1791080p2336422.xml_art.csv.gz
df_articles size: (4745989, 6)
Data/enwiki/enwiki-20180620-pages-meta-current10-p2336425p3046511.xml_art.csv.gz
df_articles size: (4764740, 6)
Data/enwiki/enwiki-20180620-pages-meta-current11-p3046514p3926861.xml_art.csv.gz
df_articles size: (5089175, 6)
Data/enwiki/enwiki-20180620-pages-meta-current12-p3926863p5040436.xml_art.csv.gz
df_articles size: (5283230, 6)
Data/enwiki/enwiki-20180620-pages-meta-current13-p5040438p6197594.xml_art.csv.gz
df_articles size: (5065608, 6)
Data/enwiki/enwiki-20180620-pages-meta-current14-p6197598p7697598.xml_art.csv.gz
df_articles size: (4941064, 6)
Data/enwiki/enwiki-20180620-pages-meta-current14-p7697598p7744799.xml_art.csv.gz
df_articles size: (141615, 6)
Data/enwiki/enwiki-20180620-pages-meta-current15-p7744803p9244803.xml_art.csv.gz
df_articles size: (4530071, 6)
Data/enwiki/enwiki-20180620-pages-meta-current15-p9244803p9518048.xml_art.csv.gz
df_articles size: (763581, 6)
Data/enwiki/enwiki-20180620-pages-meta-current16-p11018050p11539266.xml_art.csv.gz
df_articles size: (1524775, 6)
Data/enwiki/enwiki-20180620-pages-meta-current16-p9518050p11018050.xml_art.csv.gz
df_articles size: (3889360, 6)
Data/enwiki/enwiki-20180620-pages-meta-current17-p11539268p13039268.xml_art.csv.gz
df_articles size: (4815578, 6)
Data/enwiki/enwiki-20180620-pages-meta-current17-p13039268p13693071.xml_art.csv.gz
df_articles size: (1643000, 6)
Data/enwiki/enwiki-20180620-pages-meta-current18-p13693074p15193074.xml_art.csv.gz
df_articles size: (3996538, 6)
Data/enwiki/enwiki-20180620-pages-meta-current18-p15193074p16120542.xml_art.csv.gz
df_articles size: (2207408, 6)
Data/enwiki/enwiki-20180620-pages-meta-current19-p16120543p17620543.xml_art.csv.gz
df_articles size: (3240347, 6)
Data/enwiki/enwiki-20180620-pages-meta-current19-p17620543p18754735.xml_art.csv.gz
df_articles size: (2753499, 6)
Data/enwiki/enwiki-20180620-pages-meta-current20-p18754736p20254736.xml_art.csv.gz
df_articles size: (3663495, 6)
Data/enwiki/enwiki-20180620-pages-meta-current20-p20254736p21222156.xml_art.csv.gz
df_articles size: (2244765, 6)
Data/enwiki/enwiki-20180620-pages-meta-current21-p21222158p22722158.xml_art.csv.gz
df_articles size: (3853619, 6)
Data/enwiki/enwiki-20180620-pages-meta-current21-p22722158p23927983.xml_art.csv.gz
df_articles size: (3125233, 6)
Data/enwiki/enwiki-20180620-pages-meta-current22-p23927984p25427984.xml_art.csv.gz
df_articles size: (3826814, 6)
Data/enwiki/enwiki-20180620-pages-meta-current22-p25427984p26823660.xml_art.csv.gz
df_articles size: (3248653, 6)
Data/enwiki/enwiki-20180620-pages-meta-current23-p26823661p28323661.xml_art.csv.gz
df_articles size: (3698009, 6)
Data/enwiki/enwiki-20180620-pages-meta-current23-p28323661p29823661.xml_art.csv.gz
df_articles size: (2979019, 6)
Data/enwiki/enwiki-20180620-pages-meta-current23-p29823661p30503449.xml_art.csv.gz
df_articles size: (1195987, 6)
Data/enwiki/enwiki-20180620-pages-meta-current24-p30503451p32003451.xml_art.csv.gz
df_articles size: (3840660, 6)
Data/enwiki/enwiki-20180620-pages-meta-current24-p32003451p33503451.xml_art.csv.gz
df_articles size: (3439609, 6)
Data/enwiki/enwiki-20180620-pages-meta-current24-p33503451p33952815.xml_art.csv.gz
df_articles size: (1002300, 6)
Data/enwiki/enwiki-20180620-pages-meta-current25-p33952816p35452816.xml_art.csv.gz
df_articles size: (2930835, 6)
Data/enwiki/enwiki-20180620-pages-meta-current25-p35452816p36952816.xml_art.csv.gz
df_articles size: (3676684, 6)
Data/enwiki/enwiki-20180620-pages-meta-current25-p36952816p38067202.xml_art.csv.gz
df_articles size: (2466656, 6)
Data/enwiki/enwiki-20180620-pages-meta-current26-p38067203p39567203.xml_art.csv.gz
df_articles size: (3443758, 6)
Data/enwiki/enwiki-20180620-pages-meta-current26-p39567203p41067203.xml_art.csv.gz
df_articles size: (3651811, 6)
Data/enwiki/enwiki-20180620-pages-meta-current26-p41067203p42567203.xml_art.csv.gz
df_articles size: (3435053, 6)
Data/enwiki/enwiki-20180620-pages-meta-current26-p42567203p42663461.xml_art.csv.gz
df_articles size: (209884, 6)
Data/enwiki/enwiki-20180620-pages-meta-current27-p42663462p44163462.xml_art.csv.gz
df_articles size: (3593697, 6)
Data/enwiki/enwiki-20180620-pages-meta-current27-p44163462p45663462.xml_art.csv.gz
df_articles size: (3114635, 6)
Data/enwiki/enwiki-20180620-pages-meta-current27-p45663462p47163462.xml_art.csv.gz
df_articles size: (2385179, 6)
Data/enwiki/enwiki-20180620-pages-meta-current27-p47163462p48663462.xml_art.csv.gz
df_articles size: (2888727, 6)
Data/enwiki/enwiki-20180620-pages-meta-current27-p48663462p50163462.xml_art.csv.gz
df_articles size: (2758093, 6)
Data/enwiki/enwiki-20180620-pages-meta-current27-p50163462p51663462.xml_art.csv.gz
df_articles size: (3142922, 6)
Data/enwiki/enwiki-20180620-pages-meta-current27-p51663462p53163462.xml_art.csv.gz
df_articles size: (2631680, 6)
Data/enwiki/enwiki-20180620-pages-meta-current27-p53163462p54663462.xml_art.csv.gz
df_articles size: (2997689, 6)
Data/enwiki/enwiki-20180620-pages-meta-current27-p54663462p56163462.xml_art.csv.gz
df_articles size: (2553772, 6)
Data/enwiki/enwiki-20180620-pages-meta-current27-p56163462p57663462.xml_art.csv.gz
df_articles size: (2570722, 6)
Data/enwiki/enwiki-20180620-pages-meta-current27-p57663462p57726175.xml_art.csv.gz
df_articles size: (88682, 6)

In [10]:
fn = PATH_TO_DATA_EN+ENWIKI_ART_FNMS[0]
print(fn)
fn_new = unpack(fn)
df_articles = pd.read_csv(fn_new, encoding='ISO-8859-1',quotechar="'")
df_articles.head()

Data/enwiki/enwiki-20180620-pages-meta-current01-p10p30303.xml_art.csv.gz

,id,link_id,link_pos,link_val,link_text,is_red_link
0,12,-1,12165,Online etymology dictionary,NaN,True
1,12,142615,13201,William Godwin,NaN,False
2,12,44379723,13224,Wilhelm Weitling,NaN,False
3,12,1389427,14539,Foundation for Economic Education,NaN,False
4,12,49873055,14796,Anarchist Seeds Beneath the Snow,NaN,False

In [11]:
df_en_id_name = pd.read_csv(PATH_TO_DATA_EN+EN_ID_NAME, encoding='ISO-8859-1', 
                         quotechar="'", escapechar ="\\")
df_en_id_name.head()

    id      title
0   12  Anarchism
1   25     Autism
2   39     Albedo
3  290          A
4  303    Alabama

In [13]:
df_en_red_name_count_in = pd.read_csv(PATH_TO_DATA_EN+EN_RED_NAME_COUNT, encoding='ISO-8859-1', quotechar="'")
df_en_red_name_count_in.head()

                link_title  in_count
0                 Allmusic     79292
1   Countries of the world     68096
2        List of countries     63259
3  Rural Districts of Iran     63203
4       Iran Daylight Time     59854

In [14]:
df_en_red_count_count_in = pd.read_csv(PATH_TO_DATA_EN+EN_RED_COUNT_COUNT, encoding='ISO-8859-1')
df_en_red_count_count_in.head()

   count  in_count
0      1   6133435
1      2   1448269
2      3    600666
3      4    336680
4      5    208796

In [15]:
for fn in UKWIKI_ART_FNMS:
    fn = PATH_TO_DATA_UK+fn
    print(fn)
    fn_new = unpack(fn)
    df_articles = pd.read_csv(fn_new, encoding='UTF-8', quotechar="\"")    
    print("df_articles size: {}".format(df_articles.shape))
    os.remove(fn_new)

Data/ukwiki/ukwiki-20180620-pages-meta-current01-p1p5501930.xml_art.csv.gz
df_articles size: (5502571, 6)
Data/ukwiki/ukwiki-20180620-pages-meta-current02-p5501931p11003859.xml_art.csv.gz
df_articles size: (5502615, 6)
Data/ukwiki/ukwiki-20180620-pages-meta-current03-p11003860p16505788.xml_art.csv.gz
df_articles size: (5503911, 6)
Data/ukwiki/ukwiki-20180620-pages-meta-current04-p16505789p22007717.xml_art.csv.gz
df_articles size: (5504404, 6)

In [16]:
fn = PATH_TO_DATA_UK+UKWIKI_ART_FNMS[0]
print(fn)
fn_new = unpack(fn)
df_articles = pd.read_csv(fn_new, encoding='UTF-8', quotechar="\"") 
df_articles.head()

Data/ukwiki/ukwiki-20180620-pages-meta-current01-p1p5501930.xml_art.csv.gz

   id  link_id  link_pos            link_val link_text  is_red_link
0   3   190261        -1                 NaN       NaN        False
1   3   937102        -1                 NaN       NaN        False
2  13   884280      1228  Об'єкт (філософія)    Об'єкт        False
3  13    21623      1533           Ератосфен       NaN        False
4  13       -1      1599             географ       NaN         True

In [17]:
df_uk_id_name = pd.read_csv(PATH_TO_DATA_UK+UK_ID_NAME,  encoding='UTF-8', quotechar="\"")
df_uk_id_name.head()

    id             title
0    3  Головна сторінка
1   13         Географія
2  584              Атом
3  585           Мільярд
4  586              Ядро